body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgb(128, 184, 39);
}

.center {
    text-align: center;
}

h1 {
    color: rgb(128, 184, 39);
}

footer img {
    width: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 40px;
    text-align: center;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: rgb(128, 184, 39);
}

